<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="shadow-box">
		<div class="d-flex justify-content-center m-5">
			
			<!-- 키보드 Enter키로 로그인이 될 수 있도록 form 태그를 만들어준다.(submit 타입의 버튼이 동작됨) -->
			<form id="loginForm" action="/user/sign-in" method="post">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">ID</span>
					</div>
					<input type="text" class="form-control" name="loginId">
				</div>
				
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">PW</span>
					</div>
					<input type="password" class="form-control" name="password">
				</div>
				
				
				<input id="signInBtn" type="submit" class="btn btn-block" value="로그인">
				<a class="btn btn-block btn-dark" href="/user/sign-up-view">회원가입</a>
			</form>
			
		</div>
		


		<!-- 카카오 로그인 버튼 -->
		<a id="kakao-login-btn"></a>
		
		<!-- 로그인 결과를 표시할 부분 -->
		<div id="kakao-profile" style="display: none;">
		    <img id="profile-img" src="" alt="Profile Image"/>
		    <p id="nickname"></p>
		</div>
				
	</div>
</section>

<th:block layout:fragment="script">
    <script>
		$(document).ready(function() {
			//로그인
			$("form").on('submit', function(e) {
				e.preventDefault(); // form 기능 중단
				
				let loginId = $("input[name=loginId]").val().trim();
				let password = $("input[name=password]").val();
				
				if (!loginId) {
					alert("아이디를 입력하세요");
					return false;
				}
				
				if (!password) {
					alert("비밀번호를 입력하세요");
					return false;
				}
				
				let url = $(this).attr('action');
				console.log(url);
				let params = $(this).serialize(); // name속성 반드시 있어야함
				console.log(params);
				
				// AJAX
				$.post(url, params)  // request
				.done(function(data) {  // response
					if (data.result == "성공") {
						// 글목록 화면으로 이동
						location.href = "/timeline/timeline-view";
					} else {
						alert(data.error_message);
					}
				});
			});
			
			$(document).ready(function() {
			    // 카카오 SDK 초기화
			    Kakao.init('e00e4d20e9b1d7be1847cfd3fbb574ad');  // 카카오 개발자 콘솔에서 발급받은 JavaScript 키를 사용하세요.

			    // 로그인 버튼 렌더링
			    Kakao.Auth.createLoginButton({
			        container: '#kakao-login-btn',
			        success: function(authObj) {
			            // 로그인 성공 시, 사용자 정보를 가져옴
			            Kakao.API.request({
			                url: '/v2/user/me',
			                success: function(res) {
			                    $('#kakao-profile').show();
			                    $('#profile-img').attr('src', res.kakao_account.profile.profile_image_url);
			                    $('#nickname').text(res.kakao_account.profile.nickname);
			                    
			                    // 서버에 토큰 전송
			                    sendTokenToServer(authObj.access_token);
			                },
			                fail: function(error) {
			                    alert('로그인에 실패했습니다. 다시 시도해주세요.');
			                }
			            });
			        },
			        fail: function(err) {
			            alert(JSON.stringify(err));
			        }
			    });
			});

			function sendTokenToServer(token) {
			    $.ajax({
			        type: 'POST',
			        url: '/api/kakao/login',
			        data: {
			            token: token
			        },
			        success: function(response) {
			            // 로그인 후 처리
			            window.location.href = 'timeline/timeline-view';
			        },
			        error: function(error) {
			            console.log('서버로 토큰 전송 실패:', error);
			        }
			    });
			}

			
		});
    </script>
</th:block>