@charset "UTF-8";

a, a:hover {text-decoration:none; color:#000;}

header {height:80px; background-color:#E3EA19; position:fixed; z-index: 999;}
.sign-up-box {width:650px; background-color:#ebebeb; margin-top:180px; box-shadow:5px 5px 5px 5px #BDC0C0;}
.sign-up-subject {margin:20px; font-weight:bold;}

#signUpBtn, #signInBtn {background-color:#E3EA19;}

.write-box {height:100px; width:800px;}
.btn {background-color:#E3EA19;;}
#writeBtn {background-color:#E3EA19;}
#serachBtn {background-color:#E3EA19;}
.comment-btn {background-color:#E3EA19;}


/*  글쓰기 별점 선택 부분 */
.ratingStars { border: 0; direction: rtl;}
.ratingStars label {font-size: 3em; /* 별 크기 */
    color: transparent; /* 별 노란색 컬러 제거 */
    text-shadow: 0 0 0 #f0f0f0; /* 선택되기 전  색상 부여 */}
.rateRadio {display: none;}

.ratingStars label:hover {text-shadow: 0 0 0 #fdb900;}
.ratingStars label:hover ~ label{text-shadow: 0 0 0 #fdb900;}
.ratingStars input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 #fdb900; /* 마우스 클릭 체크 */
}

/* 여기까지 별점 */

.shadow-box {width:550px; background-color:#ebebeb; margin-top:200px; box-shadow:5px 5px 5px 5px #BDC0C0;}
.login-box {width:400px;}

.contents-box {width:790px; margin-top:90px;}
.postCreate {margin-top:120px;}

/* .range, #serachBtn, #serachWrite {width:300px; position:fixed;} */
.sideBar {width:300px; position:fixed;  top: 95px;
  left: 10px;  z-index: 999;}


#writeTextArea {height:100px;}

.comment-input {width:670px;}