<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="sideBar">
		<div id="search" class="d-flex align-items-center">
			<input id="addressSerach" type="text" class="form-control ml-3 w-75" name="addressSerach" placeholder="지역을 검색해보세요"  readonly />
			<a href="#" id="serachBtn" onclick="execDaumPostcode()"><img width="35" src="https://cdn-icons-png.freepik.com/256/13924/13924517.png?semt=ais_hybrid"></a>
		</div>
        <div class="range mt-3">
			<h5>정렬</h5>
				<input type="radio" name="range" value="최신순" id="latest" checked><label for="latest">최신순</label>
				<input type="radio" name="range" value="별점순" id="highPoint"><label for="highPoint">별점순</label>
				
				
			<details>
				<summary class="">필터</summary>
				<!-- summary 아래 한칸 공백 두고 내용 삽입 -->
				
				<li><label for="latest">한식</label><input type="radio" name="range" value="한식" ></li>
				<li><label for="highPoint">일식</label><input type="radio" name="range" value="일식"></li>
				<li><label for="highPoint">중식</label><input type="radio" name="range" value="중식"></li>
				<li><label for="highPoint">양식</label><input type="radio" name="range" value="양식"></li>
			
				
			</details>
		</div>
	</div> <!-- side bar 끝 -->
    
    
	<!-- 타임라인 영역 -->
	<div class="contents-box container">
		<!-- 글쓰기 페이지 로그인 안했을 경우 -->
		<a th:unless="${session.userId != null}" href="/user/sign-in-view" class="d-flex justify-content-center" th:data-user-id="${session.userId}">
            <input type="text" class="form-control w-75 text-center" placeholder="로그인 후 방문하신 곳에 대해 간단히 남겨보시는 건 어떠세요?">
            <div class="d-flex justify-content-between">
				<button class="btn">작성하기</button>
			</div>
		</a>
		<!-- 글쓰기 페이지 로그인 했을 경우 -->
		<a th:if="${session.userId != null}" href="/post/post-create-view" class="d-flex justify-content-center" th:data-user-id="${session.userId}">
            <input type="text" class="form-control w-75 text-center" placeholder="방문하신 곳에 대해 간단히 남겨보시는 건 어떠세요?">
            <div class="d-flex justify-content-between">
				<button class="btn">작성하기</button>
			</div>
		</a>
	
	
			
			
		<div class="timeline-box my-2">
			<div th:each="cardView : ${cardViewList}" class="card border rounded mt-3">
				<!-- 글쓴이, 더보기(삭제) -->
				<div class="p-2 d-flex justify-content-between">
					<span th:text="${cardView.user.name}" class="font-weight-bold">글쓴이</span>

					<!-- 더보기 ...(로그인 된 사람과 글쓴이 정보 일치할 때 보이게) -->
					<a href="#" class="more-btn">
						<img src="https://www.iconninja.com/files/860/824/939/more-icon.png" width="30">
					</a>
				</div>

				<!-- 본문 이미지 -->
				<div class="card-img">
					<img th:src="${cardView.post.imagePath}" src="https://cdn.pixabay.com/photo/2024/06/23/06/27/lake-8847415_1280.jpg" class="w-100" alt="본문 이미지">
					<div class="d-flex justify-content-between">
						<small th:text="${cardView.post.restaurantName}" class="text-secondary mx-2">상호명</small>
						<small th:text="|${cardView.post.visitDate} 방문|" class="text-secondary mx-2">20.01.01 방문</small>
					</div>
				</div>

				<!-- 별점 -->
				<div class="card-point m-3">
					<div th:if="${cardView.post.point == 5}">
						<span>⭐</span>
						<span>⭐</span>
						<span>⭐</span>
						<span>⭐</span>
						<span>⭐</span>
					</div>
					<div th:if="${cardView.post.point == 4}">
						<span>⭐</span>
						<span>⭐</span>
						<span>⭐</span>
						<span>⭐</span>
						<span class="no">⭐</span>
					</div>
					<div th:if="${cardView.post.point == 3}">
						<span>⭐</span>
						<span>⭐</span>
						<span>⭐</span>
						<span class="no">⭐</span>
						<span class="no">⭐</span>
					</div>
					<div th:if="${cardView.post.point == 2}">
						<span>⭐</span>
						<span>⭐</span>
						<span class="no">⭐</span>
						<span class="no">⭐</span>
						<span class="no">⭐</span>
					</div>
					<div th:if="${cardView.post.point == 1}">
						<span>⭐</span>
						<span class="no">⭐</span>
						<span class="no">⭐</span>
						<span class="no">⭐</span>
						<span class="no">⭐</span>
					</div>
				</div>

				<!-- 글 -->
				<div class="card-post m-3">
					<span th:text="${cardView.user.name}" class="font-weight-bold">글쓴이</span>
					<span th:text="${cardView.post.content}">글 내용입니다!!!!</span>
				</div>
	
				<!-- 댓글 제목 -->
				<div class="card-comment-title border-bottom">
					<div class="font-weight-bold ml-3 mb-1">댓글</div>
				</div>

				<!-- 댓글 목록 -->
				<div class="card-comment-list m-2">
					<!-- 댓글들 -->
					<div th:each="commentView : ${cardView.commentList}" class="d-flex card-comment m-1">
						<div th:text="${commentView.user.name}" class="font-weight-bold commentBox">댓글쓰니</div>
						<div th:text="${commentView.comment.content}" class="mx-2" >댓글 내용임</div>

						<!-- 댓글 삭제(자신의 댓글만 가능) -->
						<a href="#"  th:if="${session.userId == commentView.comment.userId}" class="comment-del-btn ml-3">
							<img src="https://www.iconninja.com/files/603/22/506/x-icon.png" width="10" height="10">
						</a>
					</div>

					<!-- 댓글 쓰기 -->
					<div class="comment-write d-flex border-top mt-2">
						<input type="text" class="comment-input form-control border-0 mr-2" placeholder="댓글 달기">
						<button type="button" class="comment-btn btn"  th:data-post-id="${cardView.post.id}" th:data-user-id="${session.userId}">게시</button>
					</div>
				</div> <!-- 댓글 끝 -->
			</div> <!-- 카드 끝 -->
		</div> <!-- 타임라인 박스 끝 -->
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    function execDaumPostcode() {
		var themeObj = {
				   bgColor: "#E3EA19", //바탕 배경색
				   emphTextColor: "#000" //강조 글자색
				};
			  
		new daum.Postcode({
			 theme: themeObj,
			oncomplete: function(data) {
            	document.getElementById('addressSerach').value = (data.sigungu+ " " + data.bname);
			}
		}).open();
	}
    
    // 댓글 쓰기
    $(".comment-btn").on('click', function() {
		let userId = $(this).data("user-id");
		if (!userId) {
			// 비로그인
			alert("로그인을 해주세요.");
			location.href = "/user/sign-in-view";
			return;
		}
		
		let postId = $(this).data("post-id"); // data-post-id="${}"
		
		let content = $(this).siblings("input").val().trim();
		console.log(content);
		
		if (!content) {
			alert("댓글 내용을 입력하세요.");
			return;
		}
		
		$.ajax({
			type:"post"
			, url:"/comment/create"
			, data:{"postId":postId, "content":content}
			, success:function(data) {
				if (data.code == 200) {
					location.reload(true);
				} else if (data.code == 403) {
					// 비로그인
					alert(data.error_message);
					location.href = "/user/sign-in-view";
				} else{
					alert(data.error_message);
				}
			}
			, error:function(e) {
				alert("댓글 쓰기에 실패했습니다.");
			}
		});
		
		// 댓글 삭제
		$(".comment-del-btn").on('click', function(e) {
			e.preventDefault(); // 위로 올라감 방지
			
			let commentId = $(this).data("comment-id");
			//alert(commentId);
			
			$.ajax({
				type:"DELETE"
				, url:"/comment/delete"
				, data:{"commentId":commentId}
				, success:function(data) {
					if (data.code == 200) {
						location.reload(true);
					} else {
						alert(data.error_message);
					}
				}
				, error:function(request, status, error) {
					alert("댓글 삭제 하는데 실패했습니다.");
				}
			});
		});
		
	});
    </script>
</th:block>